<!-- app/templates/include/stylesheet.html -->
<link rel="preload" href="{{ url_for('static', filename='fonts/Sora/static/Sora-Thin.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ url_for('static', filename='fonts/Sora/static/Sora-ExtraLight.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ url_for('static', filename='fonts/Sora/static/Sora-Light.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ url_for('static', filename='fonts/Sora/static/Sora-Regular.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ url_for('static', filename='fonts/Sora/static/Sora-Medium.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ url_for('static', filename='fonts/Sora/static/Sora-SemiBold.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ url_for('static', filename='fonts/Sora/static/Sora-Bold.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
<link rel="preload" href="{{ url_for('static', filename='fonts/Sora/static/Sora-ExtraBold.ttf') }}" as="font" type="font/ttf" crossorigin="anonymous">
<link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
<link href="{{url_for('static',filename='assets/aos-master/dist/aos.css')}}" rel="stylesheet">
<script src="{{ url_for('static', filename='assets/aos-master/dist/aos.js') }}"></script>
<link rel="preload" as="image" href="https://res.cloudinary.com/dinzynzet/image/upload/v1720045789/unforaimcode.com/flask/admin/ipu72asbwqhu4gd4zvzi.webp" type="image/webp">


