{% extends '_layout/base.html' %}

{% block canonical %}
<link rel="canonical" href="https://unforaimcode.pythonanywhere.com/about/">
{% endblock %}

{% block title %}About - Unforaimcode{% endblock %}

{% block content %}
<div class="flex justify-center">
  <main class="content flex justify-center no-scrollbar w-full scroll-smooth transition-all duration-300 lg:min-h-screen">
    <div class="container p-4 md:p-8 font-sora">
      <div class="mb-10 mt-2" data-aos="fade-up" data-aos-duration="800">
        <h1 class="font-sora text-2xl font-medium text-neutral-800 dark:text-neutral-300">About</h1>
        <p class="mb-6 border-b border-dashed border-neutral-600 pb-6 pt-2 text-neutral-600 dark:text-neutral-400">A short story of me, not important but seem better than nothing.</p>
        {% if abouts.contentOne %}
          <section class="space-y-4 leading-[1.8] md:leading-loose text-neutral-800 dark:text-neutral-300">
            {% for content in abouts.contentOne %}
              <p>{{ content }}</p>
            {% endfor %}
          </section>
        {% endif %}
        <div class="border-t border-neutral-200 my-4 mt-8 mb-7 dark:border-neutral-700" data-testid="breakline"></div>
      </div>
    </div>
  </main>
</div>
{% endblock %}