{% extends '_layout/base.html' %}

{% block title %}404 - Page Not Found{% endblock %}

{% block content %}
<div class="flex justify-center">
  <main class="content flex justify-center no-scrollbar w-full scroll-smooth transition-all duration-300 lg:min-h-screen">
    <div class="container p-4 md:p-8 font-sora">
      <div class="mb-10 p-8 py-44 flex h-full flex-col items-center justify-center" data-aos="fade-up" data-aos-duration="800">
        <h1 title="404" class="text-7xl font-bold animation-glitch text-neutral-800 dark:text-neutral-300" data-text="404">404</h1>
        <h2 h2 class="animate-pulse text-center text-xl lg:text-xl text-neutral-800 dark:text-neutral-300">Whoops, there doesn't seem to be anything here!</h2>
      </div>
    </div>
  </main>
</div>
{% endblock %}
