
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 - Internal Server Error</title>
    <link rel="stylesheet" href="../static/css/output.css">
    <style>
      .container-error {
        width: 100%;
      }
    </style>
</head>
<body>
  <main class="content flex justify-center no-scrollbar w-full scroll-smooth transition-all duration-300 lg:min-h-screen">
    <div class="container-error p-4 md:p-8 font-sora ">
      <div class="mb-10 p-14 py-48 flex h-full flex-col items-center justify-center" data-aos="fade-up" data-aos-duration="800">
        <h1 title="500" class="text-7xl font-bold animation-glitch text-neutral-800 dark:text-neutral-300" data-text="500">500</h1>
        <h2 h2 class="animate-pulse text-center text-xl lg:text-xl text-neutral-800 dark:text-neutral-300">Sorry, something went wrong on our end.</h2>
      </div>
    </div>
  </main>
</body>
</html>
